.main-div {
  background-color: aquamarine;
  width: 300px;
  height: 350px;
  border-radius: 10px;
  margin-left: 20px;
  padding: 10px;
}
.search {
  width: 300px;
  height: 35px;
  border-radius: 20px;
  padding: 20px;
  font-size: 18px;
}
